<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your purchase at Jungle.com!</h1>
    <p>
      Your order:
      Total cost: $<%= @order.total_cents.to_f / 100%>
      <% (@line_items = LineItem.where(order_id: @order.id)) %>
      <% @line_items.each do |p| %>
        <p><%=p.product.name%></p>
        <p>Prouduct ID: <%= p.product_id %>, Number Purchased: <%= p.quantity %>, Item Totoal: $<%= p.item_price_cents.to_f / 100%></p>
        <p>---></p>
      <% end %>
    </p>
    <p>Thanks for shopping with us and have a great day!</p>
  </body>
</html>