<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @rating.product.category.name, @rating.product.category %> &raquo; <%= @rating.product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @rating.product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Review</dt>
          <dt>Description</dt>
          <dd><%= @rating.description %></dd>
          <dt>Rating</dt>
          <dd><%= @rating.rating %></dd>
        </dl>
      </div>
    </div>

  </article>

</section>
