<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
          <dt>Customer Reviews</dt>
          <dd>Product Rating: <strong><%=@product.ratings.average(:rating)%>/5</strong></dd>
          <% @product.ratings.each do |p| %>
            <dt>---></dt>
            <dd><%=p.description%></dd>
            <dd><%=p.rating%>/5</dd>
            <% if   current_user && current_user.id == p.user_id %>
            <dd><%= button_to "delete", p, :method => :delete %></dd>
           <% end %>
            <% end %>
            <% if current_user %>
              <dt><%= "Rate this product: " %></td>
              <dd><%= link_to "Ratings", new_rating_path(product: @product, current_user: current_user) %></dd>
             <% end %>
        </dl>
      </div>
    </div>

  </article>

</section>
